QPushButton#brickButton:hover {
	background: #30FFFFFF;
}

QPushButton#brickButton:pressed {
	background: #60FFFFFF;
}

QPushButton#brickButton {
	background: transparent;
}

QLineEdit {
	font-family: Menlo, Consolas, 'Courier New', monospace;
}

QTreeView {
	font-family: Menlo, Consolas, 'Courier New', monospace;
}

QTableView {
	font-family: Menlo, Consolas, 'Courier New', monospace;
}

QTableView#listingTable::indicator {
	margin:3px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
}

QTableView#listingTable::item:selected {
	background: #cce8ff;              
}

QTableView#listingTable::indicator:unchecked {
	background-color: transparent;
}

QTableView#listingTable::indicator:unchecked:hover {
	background-color: rgba(255,80,80,128);
}

QTableView#listingTable::indicator:checked {
	background-color: rgb(255,80,80);
}

BrickUI {
	margin: 10%
}